body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.error-box {
  position: absolute;
  top: 20%;
  left: 40%;
  height: 60px;
  width: 400px;
  border: 1px solid #FFC8B3;
  border-radius: 5px;
  background-color: #FFC8B3;
}

.icon {
  position: relative;
  top: 25%;
  left: 5%;
  color: #941812;
}

.text {
  position: relative;
  top: 15%;
  left: 10%;
  color: #941812;
  font-size: 15px;
}
